{% extends 'base.html' %}
{% load static %}

{% block title %}Отзыв{% endblock %}

{% block body_block %}
    <main>
        {% if sent %}
        <h2 align="center">Спасибо за Ваш отзыв!</h2>
        {% else %}
        <h2 align="center">Напишите свой отзыв!</h2>
        <form class="main-form" method="POST">
            {% csrf_token %}
            {{ review_form.as_p }}
            <button class="button" type="submit">Отправить</button>
        </form>
        {% endif %}
    </main>
{% endblock %}